@charset "UTF-8"

;* {
    font-family: Fredoka;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    background-color: #FF858D;
    width: 600px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 5px #A1CDF4;
    color: #fde9ea;
    margin: auto;
}

h1 {
    color: #9E0031;
    text-align: center;
}

h2 {
    color: #9E0031
}

body{
    background-color: #FFD4D4;
}
